.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orders {
    font-size: 5rem;
}

